
<!DOCTYPE html>
<html lang="en">
 {% load el_pagination_tags %} 
 {% load static %}
<style>

          
  li{
      float:left;
    }
      
   .image{
      position:relative;
        width:100;
     }   
     
     h2{
         olor: white; 
         font: bold 24px/45px Helvetica, Sans-Serif; 
         letter-spacing: -1px;  
         background: rgb(0, 0, 0); /* fallback color */
         background: rgba(0, 0, 0, 0.7);
         padding: 10px; 
         
       }
         
         
      li{
        width:250px;
        }
          
      
      
      
 </style> 
<head>
  <title>Almabase</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Almabase</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ><a href="/home/">Home</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
  </div>
</nav>
</head>

<body>

<h3> Welcome {{user}} </h3>
<form method ="get" action ="/home/">
  <p align='middle'> 

  <input type="text" name="filter" placeholder=" Game or Platform">
  <input type="submit" value="search"  >
  </p>
</form>

<form method ="get" action ="/home/">
  
  <p align='right'> 
   Sort by :
  <input type="radio" name="sortchoice"  value="score">Score
  <input type="radio" name="sortchoice" value="title">Title
  <input type="radio" name="sortchoice" value="platform">Platform
  <button type="submit" name="order" value="dsc"  >&#9660</button>
  <button type="submit" name="order" value="asc"  >&#9650</button>
  </p>
</form>
<br>
<br>
  
  <div style="width:100%">
  {% paginate object_list %}
  {% for game in object_list %}
   
  
        <ul style="list-style-type:none  "> 
          <li >
            
          <img src="{% static "Game/alma.jpg" %}" height=200 width=200 hspace=10 vspace=10">
          <figCaption>
          <strong>
          <p><a href="/detail/{{ game.title }}">{{ game.title }} </a>
          {{ game.score }} 
          </p>
          </figCaption>
          </strong>
          
          </img>
          <li>
        </ul>
      {% endfor %}
        
   </div>
 
 <div style="clear:left" > 
       
      <strong> 
     {% show_pages %}
       </strong>
       </align>
     </div>
    
      
        



     
     
          
      
</body>    

      
    
</html>
